################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaxosLib/obj
/PaxosLib/bin/Debug/netcoreapp3.0
/server/bin/Debug/netcoreapp3.0
/server/obj
/test/PaxsosTests/bin/Debug/netcoreapp3.0
/test/PaxsosTests/obj
/Paxos/.vs/
/NetworkLib/obj
/NetworkLib/bin/Debug/netcoreapp3.0
/CommonLib/obj
/CommonLib/bin/Debug/netcoreapp3.0
/CommonLib/bin/Release/netcoreapp3.0
/NetworkLib/bin/Release/netcoreapp3.0
/PaxosLib/bin/Release/netcoreapp3.0
/server/bin/Release/netcoreapp3.0
/test/PaxsosTests/bin/Release/netcoreapp3.0
/PineHillRSL/.vs/PineHillRSL/v16
/PineHillClientLib/bin/Debug/netcoreapp3.0
/PineHillClientLib/obj
/PineHillRSL/.vs/PineHillRSL/DesignTimeBuild
/PineHillRSLClientLib/bin/Debug/netcoreapp3.0
/PineHillRSLClientLib/obj
/PineHillRSLServerLib/bin/Debug/netcoreapp3.0
/PineHillRSLServerLib/obj
/containers/ReliableTableService/Node1/netcoreapp3.0
/containers/ReliableTableService/Node2/netcoreapp3.0
/containers/ReliableTableService/Node3/netcoreapp3.0
/containers/ReliableTableService/Node4/netcoreapp3.0
/containers/ReliableTableService/Node5/netcoreapp3.0
/service/binary
/service/containers/ReliableTableService/Node5/netcoreapp3.0
/service/containers/ReliableTableService/Node4/netcoreapp3.0
/service/containers/ReliableTableService/Node3/netcoreapp3.0
/service/containers/ReliableTableService/Node2/netcoreapp3.0
/client/bin/Debug/netcoreapp3.0
/client/obj
